{% extends "_layoutNoFooter.html" %}
{% block body %}
<header class="bar bar-nav">
  <a href="javascript:window.history.back();">
    <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    返回
  </button>
  </a>
  <h1 class="title">悄悄话</h1>
</header>
<div class="content">
<p class="content-padded">
  {% for answer in answerlist %}
    {{ answer.name }} 在 {{answer.insertdate}} 说：{{answer.content}}</br>
  {% endfor %}
</p>
<p class="content-padded">
    <form action="{{ url_for('reply_dm') }}" method="post" class="input-group">
    <input type='text' size='40' maxlength='100' id='content' name='content'  placeholder="输入想和对方说的话" />
    <input type='hidden' id='touid' name='touid' value="{{ touid }}" />
    <input type='hidden' id='q_id' name='q_id' value="{{ q_id }}" />
    <div style="text-align:center; margin-top:20px;">
      <button type="submit" class="btn btn-primary btn-outlined">发送</button>
    </div>
    </form>
  </p>
</div>
{% endblock %}