{% extends "_layout.html" %}
{% block body %}

<header class="bar bar-nav">
  <h1 class="title">{{ team.name }}</h1>
</header>

<div class="content">
	  {% if showsummary %}
	  <p class="content-padded">开始于{{teamsummary.startdate}}，两个人平均每天跑了{{teamsummary.avgdistance}}米,
	  总共跑了{{teamsummary.sumdistance}}米，还需要<strong>{{teamsummary.leftday}}</strong>天。</p>
	  {% endif %}
    <ul class="table-view">
      <li class="table-view-cell media">
        <a class="navigate-right" href="/profile/{{ entry.uid }}">
          <img class="media-object pull-left" src="data:image/png;base64,{{ entry.avatar|safe }}" height="50" width="50" >
          <div class="media-body">
	        {{ entry.name }}
	        <p>
	        {% if entry.gender == '2' %}
		    妹子
		    {% else %}
		    汉子
		    {% endif %}
	        </p>
	      </div>
        </a>
      </li>
    </ul>
    {% if canfinish %}      
	  <a class="btn btn-primary btn-outlined" href="{{ url_for('finish') }}">完成</a>
    {% else %}
	  <a class="btn btn-primary btn-outlined" href="{{ url_for('change') }}">换一个人吧</a>
	{% endif %}</br></br>
	{% for entry in fans %}
    <a href="/profile/{{ entry.uid }}">{{ entry.name }}</a>,&nbsp;&nbsp;
	{% endfor %}觉得我挺赞的!</br>
	小提示：上传真人头像可以获得更多的赞。</br>
	<p class="content-padded">
	  {% for msg in msgs %}
      {{ msg.name }} 在 {{msg.insertdate}} 说：{{msg.content}}</br>
	  {% endfor %}

	  <form action="{{ url_for('add_msg') }}" method="post"  class="input-group">
	    <dl>
	      <dt>对TA说点啥:</dt>
	      <input type='text' size='40' maxlength='50' id='content' name='content' placeholder="你怎么不理我呀？" />
	      <input type='hidden' id='uid' name='uid' value="{{ uid }}" />
	      <input type='hidden' id='team_id' name='team_id' value="{{ team_id }}" />
   	      <button type="submit" class="btn btn-primary btn-block">发布</button>
	    </dl>
	  </form>
	  </br>
	</p>
</div>
{% endblock %}