{% extends "_layoutNoFooter.html" %}
{% block body %}
<header class="bar bar-nav">
  <a href="{{ url_for('feed') }}">
    <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    返回
  </button>
  </a>
  <h1 class="title">{{ userInfo.name }}</h1>
</header>
<div class="content">
<p class="content-padded">
  <img src="data:image/png;base64,{{ userInfo.avatar|safe }}" alt="竟然没有头像" />
</p>
{% if userInfo.gender == '2' %}
妹子
{% else %}
汉子
{% endif %}
<p class="content-padded">
    <form action="{{ url_for('send_dm') }}" method="post" name="dmform" id="dmform" class="input-group">
        对TA说点啥:</br>
        <input type='text' size='40' maxlength='100' id='content' name='content' placeholder="你好，你朋友掉地上了。" />
        <input type='hidden' id='touid' name='touid' value="{{ userInfo.uid }}" />
        <button type="submit" class="btn btn-primary btn-outlined">发送</button>
    </form>
    </br>
  </p>
</div>
{% endblock %}