{% extends "_layoutNoFooter.html" %}
{% block body %}
<header class="bar bar-nav">
  <a href="javascript:window.history.back();">
    <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    返回
  </button>
  </a>
  <h1 class="title">{{ userInfo.name }}</h1>
</header>
<div class="content">
<p class="content-padded">
  <div style="text-align:center;">
  <img src="data:image/png;base64,{{ userInfo.avatar|safe }}" alt="竟然没有头像" /></br>
  {% if userInfo.gender == '2' %}
  妹子
  {% else %}
  汉子
  {% endif %}
  </div>
</p>

<p class="content-padded">
    <form action="{{ url_for('send_dm') }}" method="post" name="dmform" id="dmform" class="input-group">
        对TA说点啥:</br>
        <input type='text' size='40' maxlength='100' id='content' name='content' placeholder="输入想和对方说的话" />
        <input type='hidden' id='touid' name='touid' value="{{ userInfo.uid }}" />
        <div style="text-align:center; margin-top:20px;">
          <button type="submit" class="btn btn-primary btn-outlined">发送</button>
        </div>
    </form>
    </br>
  </p>
</div>
{% endblock %}