{% extends "_layoutNoFooter.html" %}
{% block body %}
<header class="bar bar-nav">
  <a href="{{ url_for('feed') }}">
    <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
    返回
  </button>
  </a>
  <a href="javascript:void(0)" onclick="onSubmit();">
  <button class="btn pull-right">
    提交
  </button>
  </a>
  <h1 class="title">{{ userInfo.name }}</h1>
</header>
<div class="content">
<p class="content-padded">
  <img src="data:image/png;base64,{{ userInfo.avatar|safe }}" alt="竟然没有头像" />
</p>
{% if userInfo.gender == '2' %}
妹子
{% else %}
汉子
{% endif %}
<script type="text/javascript">
function onSubmit(){
  if(document.getElementById("content").value != ''){
    document.dmform.submit();  
  }
  return false;
}
</script>

<p class="content-padded">
    <form action="{{ url_for('send_dm') }}" method="post" name="dmform" id="dmform" class="input-group">
      <dl>
        <dt>对TA说点啥:</dt>
        <input type='text' size='40' maxlength='100' id='content' name='content' placeholder="你好，你朋友掉地上了。" />
        <input type='hidden' id='touid' name='touid' value="{{ userInfo.uid }}" />
      </dl>
    </form>
    </br>
  </p>
</div>
{% endblock %}