{% extends "layout.html" %}
{% block body %}
  <h3>{{team.name}}</h3>
  </br>
  {% if showsummary %}
  开始于{{teamsummary.startdate}}，两个人平均每天跑了{{teamsummary.avgdistance}}米,
  按照这个速度，还需要<strong>{{teamsummary.leftday}}</strong>天，加油！</br>
  {% endif %}
  {% for entry in entries %}
    <img src="data:image/png;base64,{{ entry.avatar|safe }}" alt="竟然没有头像" /></br>
    {{ entry.name }}，
    {% if entry.gender == '2' %}
    妹子
    {% else %}
    汉子
    {% endif %}
    一枚
    </br>
  {% endfor %}
  {% if canfinish %}
  </br></br>
  <a href="{{ url_for('finish') }}">完成</a>
  {% else %}
  <a href="{{ url_for('change') }}">换一个人吧</a>
  {% endif %}
  </br></br></br>
  TA们
  {% for entry in fans %}
    <a href="/info/{{ entry.uid }}">{{ entry.name }}</a>,&nbsp;&nbsp;
  {% endfor %}觉得我挺赞的</br></br>
  <form action="{{ url_for('add_msg') }}" method="post">
    <dl>
      <dt>对TA说点啥:
      <input type='text' size='40' maxlength='50' id='content' name='content' />
      <input type='hidden' id='uid' name='uid' value="{{ uid }}" />
      <input type='hidden' id='team_id' name='team_id' value="{{ team_id }}" />
      <input type="submit" value='发布'>
    </dl>
  </form>
  {% for msg in msgs %}
    {{ msg.name }} 在 {{msg.insertdate}} 说：{{msg.content}}</br>
  {% endfor %}
  </br></br></br>
  <h4>规则：</h4>
  <ul>
    <li>每天两人加起来若不到4公里，本天积累的公里减半</li>
    <li>超级马拉松全程是100公里，嘿嘿</li>
    <li>里程数从你第一次见到TA的头像就开始了，努力到最后吧</li>
  </ul>
{% endblock %}
