{% extends "layout.html" %}
{% block body %}
  <h3>{{team.name}}</h3>
  </br>
  {% if showsummary %}
  开始于{{teamsummary.startdate}}，两个人平均每天跑了{{teamsummary.avgdistance}}米,
  按照这个速度，还需要<strong>{{teamsummary.leftday}}</strong>天，加油！</br>
  {% endif %}
  {% for entry in entries %}
    <img height="100" width="100" src="data:image/png;base64,{{ entry.avatar|safe }}" alt="{{ entry.name }}" />
    昵称：{{ entry.name }}，性别：
    {% if entry.gender == '2' %}
    妹子
    {% else %}
    男子
    {% endif %}
    </br>
  {% endfor %}
{% endblock %}